* {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

:root {
  font-size: 10px; }

html {
  scroll-behavior: smooth; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-Italic.ttf);
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/raleway/Raleway-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/raleway/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

.container {
  width: 100%;
  max-width: 110rem;
  margin: auto; }

.c-navigation {
  background-color: #000; }
  .c-navigation .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4.2rem;
    color: #f5f5f5; }
    @media screen and (min-width: 900px) {
      .c-navigation .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: initial;
        padding: 0 10%; } }
    @media screen and (min-width: 1200px) {
      .c-navigation .container {
        padding: 0; } }

.c-navigation__logo img {
  height: 2rem; }
  @media screen and (min-width: 900px) {
    .c-navigation__logo img {
      height: 2.6rem; } }

@media screen and (min-width: 900px) {
  .c-navigation__logo {
    margin-right: auto; } }

.c-navigation__list {
  position: absolute;
  top: 3.6rem;
  z-index: 10;
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  list-style: none; }
  @media screen and (min-width: 900px) {
    .c-navigation__list {
      position: initial;
      width: initial;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.c-navigation__menu-toggle:checked ~ .c-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (min-width: 900px) {
  .c-navigation__list-item:not(:last-child) {
    margin-right: 5rem; } }

.c-navigation__list-item a {
  display: inline-block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 4.6rem;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in; }
  .c-navigation__list-item a:hover {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }
  @media screen and (min-width: 900px) {
    .c-navigation__list-item a {
      line-height: 7.2rem; } }

.c-navigation__menu-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10; }
  @media screen and (min-width: 900px) {
    .c-navigation__menu-icon {
      display: none; } }
  .c-navigation__menu-icon span {
    display: block;
    width: 3rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 0.3rem;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out; }
    .c-navigation__menu-icon span:not(:last-child) {
      -webkit-margin-after: 0.5rem;
              margin-block-end: 0.5rem; }

.c-navigation__menu-toggle:checked ~ .c-navigation__menu-icon span:nth-child(1) {
  -webkit-transform: translateY(0.9rem) rotateZ(-45deg);
          transform: translateY(0.9rem) rotateZ(-45deg); }

.c-navigation__menu-toggle:checked ~ .c-navigation__menu-icon span:nth-child(2) {
  opacity: 0; }

.c-navigation__menu-toggle:checked ~ .c-navigation__menu-icon span:nth-child(3) {
  -webkit-transform: translateY(-0.9rem) rotateZ(45deg);
          transform: translateY(-0.9rem) rotateZ(45deg); }

.c-navigation__menu-toggle {
  position: absolute;
  top: 0.85rem;
  right: 1rem;
  width: 3rem;
  height: 2.5rem;
  opacity: 0;
  z-index: 20;
  cursor: pointer; }
  @media screen and (min-width: 900px) {
    .c-navigation__menu-toggle {
      display: none; } }
