* {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

:root {
  font-size: 10px; }

html {
  scroll-behavior: smooth; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-Italic.ttf);
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open-sans/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/raleway/Raleway-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/raleway/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

.container {
  width: 100%;
  max-width: 110rem;
  margin: auto; }

.u-divider {
  display: inline-block;
  height: 0.1rem;
  width: 6.4rem; }

.u-divider--white {
  background-color: #fff; }

.u-divider--orange {
  background-color: #ff8b38; }

.u-button {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 3.5rem;
  padding: 0 3rem;
  cursor: pointer; }

.u-button--transparent {
  border: 0.1rem solid #fff; }

.u-button--orange {
  background-color: #ff8b38; }

.c-social-media {
  background-color: #fff; }
  .c-social-media .container {
    min-height: 10.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sm-text" "sm-icons";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    padding: 1rem; }
    @media screen and (min-width: 900px) {
      .c-social-media .container {
        grid-template-columns: auto minmax(30rem, 63.4rem);
        grid-template-areas: "sm-text sm-icons";
        gap: 6rem;
        padding: 1rem 10%; } }
    @media screen and (min-width: 1200px) {
      .c-social-media .container {
        padding: 0; } }

.c-social-media__text {
  grid-area: sm-text;
  text-align: center; }
  .c-social-media__text h2 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8em; }
  .c-social-media__text p {
    font-size: 1.2rem;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif; }
  @media screen and (min-width: 900px) {
    .c-social-media__text {
      text-align: left; }
      .c-social-media__text h2 {
        font-size: 2rem; }
      .c-social-media__text p {
        font-size: 1.4rem; } }

.c-social-media__icon-list {
  grid-area: sm-icons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 900px) {
    .c-social-media__icon-list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.c-social-media__icon {
  color: #ccc;
  height: 3rem;
  width: 3rem; }
  @media screen and (min-width: 900px) {
    .c-social-media__icon {
      height: 4.4rem;
      width: 4.4rem; } }

.c-hero {
  background: url(../assets/images/hero.png) no-repeat center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 1200px) {
    .c-hero {
      min-height: 64.1rem; } }
  .c-hero .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end; }
    @media screen and (min-width: 600px) {
      .c-hero .container {
        margin: 5rem auto; } }
    @media screen and (min-width: 1200px) {
      .c-hero .container {
        margin: auto; } }

.c-hero__content {
  min-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 3rem; }
  @media screen and (min-width: 600px) {
    .c-hero__content {
      margin: 0 3rem; } }
  @media screen and (min-width: 1200px) {
    .c-hero__content {
      margin: 0; } }

.c-hero__logo img {
  height: 4rem; }
  @media screen and (min-width: 1200px) {
    .c-hero__logo img {
      height: 6rem; } }

.c-hero__heading {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase; }
  @media screen and (min-width: 1200px) {
    .c-hero__heading {
      font-size: 3.6rem; } }

.c-hero__text {
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #fff;
  font-weight: 300;
  font-family: "Raleway", sans-serif; }
  @media screen and (min-width: 1200px) {
    .c-hero__text {
      font-size: 1.6rem; } }

.c-hero__form {
  justify-self: center; }
  @media screen and (min-width: 600px) {
    .c-hero__form {
      justify-self: end;
      margin-right: 3rem; } }
  @media screen and (min-width: 1200px) {
    .c-hero__form {
      margin-right: 0; } }

.c-register-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media screen and (min-width: 600px) {
    .c-register-form {
      max-width: 36rem; } }

.c-register-form__header {
  line-height: 5.4rem;
  font-size: 2rem;
  color: #333;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .c-register-form__header {
      border-radius: 0.3rem 0.3rem 0 0; } }
  .c-register-form__header span {
    color: #ff9b51; }

.c-register-form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 3.2rem 0 4.8rem 0; }
  .c-register-form__body input {
    border: none;
    -webkit-filter: drop-shadow(0 1px 0 rgba(0, 0, 1, 0.16));
            filter: drop-shadow(0 1px 0 rgba(0, 0, 1, 0.16));
    padding: 0 1.2rem;
    line-height: 3.1rem;
    width: 28.5rem;
    font-size: 1.4rem;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans", sans-serif; }
    .c-register-form__body input:not(:last-child) {
      margin-bottom: 3.5rem; }
    .c-register-form__body input:focus {
      outline: #ff9b51 auto 1px; }
    .c-register-form__body input::-webkit-input-placeholder {
      font-size: 1.4rem;
      color: #bdbdbd;
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }
    .c-register-form__body input::-moz-placeholder {
      font-size: 1.4rem;
      color: #bdbdbd;
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }
    .c-register-form__body input:-ms-input-placeholder {
      font-size: 1.4rem;
      color: #bdbdbd;
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }
    .c-register-form__body input::-ms-input-placeholder {
      font-size: 1.4rem;
      color: #bdbdbd;
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }
    .c-register-form__body input::placeholder {
      font-size: 1.4rem;
      color: #bdbdbd;
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }

.c-register-form__footer {
  line-height: 5.4rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background-color: #ff9b51;
  text-align: center;
  cursor: pointer; }
  @media screen and (min-width: 600px) {
    .c-register-form__footer {
      border-radius: 0 0 0.3rem 0.3rem; } }

.c-navigation {
  background-color: #000; }
  .c-navigation .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4.2rem;
    color: #f5f5f5; }
    @media screen and (min-width: 900px) {
      .c-navigation .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: initial;
        padding: 0 10%; } }
    @media screen and (min-width: 1200px) {
      .c-navigation .container {
        padding: 0; } }

.c-navigation__logo img {
  height: 2rem; }
  @media screen and (min-width: 900px) {
    .c-navigation__logo img {
      height: 2.6rem; } }

@media screen and (min-width: 900px) {
  .c-navigation__logo {
    margin-right: auto; } }

.c-navigation__list {
  position: absolute;
  top: 3.6rem;
  z-index: 10;
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  list-style: none; }
  @media screen and (min-width: 900px) {
    .c-navigation__list {
      position: initial;
      width: initial;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.c-navigation__menu-toggle:checked ~ .c-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (min-width: 900px) {
  .c-navigation__list-item:not(:last-child) {
    margin-right: 5rem; } }

.c-navigation__list-item a {
  display: inline-block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 4.6rem;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in; }
  .c-navigation__list-item a:hover {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }
  @media screen and (min-width: 900px) {
    .c-navigation__list-item a {
      line-height: 7.2rem; } }

.c-navigation__menu-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10; }
  @media screen and (min-width: 900px) {
    .c-navigation__menu-icon {
      display: none; } }
  .c-navigation__menu-icon span {
    display: block;
    width: 3rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 0.3rem;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out; }
    .c-navigation__menu-icon span:not(:last-child) {
      -webkit-margin-after: 0.5rem;
              margin-block-end: 0.5rem; }

.c-navigation__menu-toggle:checked ~ .c-navigation__menu-icon span:nth-child(1) {
  -webkit-transform: translateY(0.9rem) rotateZ(-45deg);
          transform: translateY(0.9rem) rotateZ(-45deg); }

.c-navigation__menu-toggle:checked ~ .c-navigation__menu-icon span:nth-child(2) {
  opacity: 0; }

.c-navigation__menu-toggle:checked ~ .c-navigation__menu-icon span:nth-child(3) {
  -webkit-transform: translateY(-0.9rem) rotateZ(45deg);
          transform: translateY(-0.9rem) rotateZ(45deg); }

.c-navigation__menu-toggle {
  position: absolute;
  top: 0.85rem;
  right: 1rem;
  width: 3rem;
  height: 2.5rem;
  opacity: 0;
  z-index: 20;
  cursor: pointer; }
  @media screen and (min-width: 900px) {
    .c-navigation__menu-toggle {
      display: none; } }
