.c-why__list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 0.2rem solid $color-orange-light;
  color: $color-orange-light;
}
