.c-why {
  background-color: $color-white;
  display: grid;

  @include mq($laptop, min) {
    min-height: 59.3rem;
  }

  .container {
    max-width: 111.4rem;
    display: grid;
    justify-items: center;
    padding: 3rem;
    text-align: center;

    @include mq($tablet-landscape, min) {
      padding: 3rem 10%;
    }

    @include mq($laptop, min) {
      padding: 0;
      gap: 0;
      margin-top: 11rem;
    }
    
    h1 {
      font-size: $font-xlg;
      color: $color-grey-6;
      font-weight: 400;
      font-family: $font-heading;
      text-transform: uppercase;

      @include mq($tablet-landscape, min) {
        font-size: $font-xxlg;
      }
    }

    h2 {
      font-size: $font-xlg;
      line-height: 24px;
      color: $color-grey-5;
      font-weight: 700;
      font-family: $font-paragraph;
    }

    p {
      font-size: $font-xsm;
      line-height: 20px;
      color: $color-grey-4;
      font-weight: 400;
      font-family: $font-paragraph;
    }

    .u-divider {
      margin: 3rem 0;
    }
  }
}
