.c-pricing-card__info {

  p {
    margin-top: 0.1rem;
    background-color: $color-white;
    line-height: 4rem;
    font-size: $font-xsm;
    color: $color-grey-4;
    font-weight: 400;
    font-family: $font-paragraph;
    text-transform: uppercase;
  }
}
