.c-pricing-card__highlight {
  background-color: $color-orange-light;
  font-size: $font-xsm;
  line-height: 4rem;
  color: $color-white;
  font-weight: 700;
  font-family: $font-paragraph;
  text-transform: uppercase;
  min-height: 0.5rem;
}
