$font-heading: 'Raleway', sans-serif;
$font-paragraph: 'Open Sans', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-orange-light: #ff8b38;
$color-orange-lighter: #ff9b51;
$color-grey-1: #f5f5f5;
$color-grey-2: #ccc;
$color-grey-3: #bdbdbd;
$color-grey-4: #86878b;
$color-grey-5: #333;
$color-grey-6: #212121;
$color-grey-7: #999999;

$font-xxsm: 1.2rem;
$font-xsm: 1.4rem;
$font-sm: 1.5rem;
$font-md: 1.6rem;
$font-lg: 1.7rem;
$font-xlg: 2rem;
$font-xxlg: 3.6rem;
$font-xxxlg: 9.4rem;

$tablet-portrait: 600;
$tablet-landscape: 900;
$laptop: 1200;
$desktop: 1500;
