.c-standard-picture__text {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;

  h2 {
    font-size: $font-xlg;
    color: $color-grey-6;
    font-weight: 700;
    font-family: $font-paragraph;
  }

  p {
    font-size: $font-xsm;
    line-height: 20px;
    color:$color-grey-4;
    font-weight: 400;
    font-family: $font-paragraph;
    margin-bottom: 2rem;
  }

  .u-divider {
    margin: 3rem 0;
  }
}
