.c-standard-picture {
  background-color: $color-grey-1;
  display: grid;

  @include mq($laptop, min) {
    min-height: 52.5rem;
  }

  .container {
    display: grid;
    padding: 3rem;

    @include mq($tablet-landscape, min) {
      grid-template-columns: 1fr 1fr;
      padding: 3rem 10%;
      gap: 3rem;
      align-items: start;
    }

    @include mq($laptop, min) {
      grid-template-columns: 47.3rem auto;
      padding: 0;
      gap: 0;
      margin-top: 11rem;
    }
  }
}
