.c-navigation__list-item {

  &:not(:last-child) {

    @include mq($tablet-landscape, min) {
      margin-right: 5rem;
    }
  }

  a {
    display: inline-block;
    color: $color-white;
    font-family: $font-paragraph;
    font-size: $font-xsm;
    font-weight: 600;
    line-height: 4.6rem;

    transition: all 100ms ease-in;

    &:hover {
      transform: scale(1.4);
    }

    @include mq($tablet-landscape, min) {
      line-height: 7.2rem;
    }
  }
}
