.c-navigation__list {
  position: absolute;
  top: 3.6rem;
  z-index: 10;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  list-style: none;

  @include mq($tablet-landscape, min) {
    position: initial;
    width: initial;
    display: flex;
    flex-direction: row;
  }
}

.c-navigation__menu-toggle:checked ~ .c-navigation__list {
  display: flex;
}
