.c-social-media {
  background-color: $color-white;
  filter: drop-shadow(0 0.1rem 0.15rem rgba(0,0,0,0.38));
  
  .container {
    min-height: 10.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sm-text"
      "sm-icons";
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    @include mq($tablet-landscape, min) {
      grid-template-columns: auto minmax(30rem, 63.4rem);
      grid-template-areas: "sm-text sm-icons";
      gap: 6rem;
      padding: 1rem 10%;
    }

    @include mq($laptop, min) {
      grid-template-columns: auto 63.4rem;
      padding: 0;
    }
  }
}
